*{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* splits styles */
.title{
  text-align: center;
  color: rgb(223, 108, 108);
}
.subtitle{
  color: rgb(223, 108, 108);
}

.icon-add{
  /* color: rgb(28, 125, 209); */
  /* margin-left: 15px; */
  color: rgb(223, 108, 108);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}